[package]
name = "shreddit"
version = "1.1.1"
edition = "2024"
authors = ["Andrew Banchich <crates-io@andrew.banchi.ch>"]
description = "Overwrite and delete your Reddit account history."
license = "MIT"
repository = "https://github.com/andrewbanchich/shreddit"

[dependencies]
async-stream = "0.3.6"
async-trait = "0.1.88"
chrono = { version = "0.4.41", features = ["serde"] }
clap = { version = "4.5.37", features = ["derive", "env"] }
csv = "1.2.2"
dotenvy = "0.15.7"
futures-core = "0.3.31"
futures-util = "0.3.28"
reqwest = { version = "0.12.18", default-features = false, features = [
    "json",
    "rustls-tls",
] }
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
tokio = { version = "1.45.0", features = ["rt", "macros"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.19", features = ["fmt", "env-filter"] }
parse_datetime = "0.9.0"
