[package]
name = "shreddit"
version = "0.3.1"
edition = "2021
authors = ["Andrew Banchich <crates-io@andrew.banchi.ch>"]
description = "Overwrite and delete your Reddit account history."
license = "MIT"
repository = "https://github.com/andrewbanchich/shreddit"

[dependencies]
async-stream = "0.3.3"
chrono = { version = "0.4.23", features = ["serde"] }
clap = { version = "4.1.4", features = ["derive", "env"] }
dotenv = "0.15.0"
futures-core = "0.3.25"
futures-util = "0.3.25"
reqwest = { version = "0.11.14", default-features = false, features = ["json", "rustls-tls"] }
serde = { version = "1.0.152", features = ["derive"] }
serde_json = "1.0.91"
tokio = { version = "1.24.2", features = ["rt-multi-thread", "macros"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.16", features = ["fmt", "env-filter"] }
